# Welcome Class

### Hello world

# Data Type

1. string - str
2. decimal - float
3. boolean - bool
4. integers - int
5. list - list
6. tuple - tuple
7. dictionary - dict
8. set - set

# Str

In [1]:
a = (1,2,3)
print(a)
a = list(a)
a

(1, 2, 3)

[1, 2, 3]

In [3]:
#and for in is try

In [5]:
'''
7Essays 

'''

'\n7Essays \n\n'

In [11]:
type(a) == list

True

In [9]:
isinstance(a, str)

False

In [21]:
my_string = "Hello Class, it's happy here"

In [22]:
len(my_string)

28

In [23]:
my_new_string = "Hello String"

### indexing in python

In [26]:
my_new_string[5]

' '

In [27]:
my_new_string[-1]

'g'

In [28]:
my_new_string[-2]

'n'

In [29]:
my_new_string[-11]

'e'

In [30]:
my_new_string[-12]

'H'

In [32]:
my_new_string[-1]

'g'

### Slicing  in Python

In [33]:
my_new_string

'Hello String'

In [34]:
my_new_string[1:3]

'el'

In [35]:
my_new_string[:5]

'Hello'

In [36]:
my_new_string[7:]

'tring'

In [37]:
my_new_string[::3]

'HlSi'

In [38]:
my_new_string[::]

'Hello String'

In [45]:
my_new_string[-3:-7:-1]

'irtS'

In [46]:
a = 5 #assingment -

In [47]:
a == 5 #equality check

True

In [52]:
a

5

In [53]:
a == 5

True

In [54]:
a is 5

True

In [57]:
my_new_string[:-5:]

'Hello S'

### Int

In [58]:
my_int = 77

In [59]:
my_int + 3

80

In [60]:
my_int

77

In [61]:
my_int = my_int + 3

In [62]:
my_int

80

In [63]:
my_int - 70

10

In [71]:
my_int / 8

10.0

In [65]:
my_int * 8

640

### Overload

In [72]:
6 + 5

11

In [73]:
6.0 + 6

12.0

In [75]:
"String" +  " " + "Hu mein"

'String Hu mein'

In [76]:
[1,2,3] + [4,5,6]

[1, 2, 3, 4, 5, 6]

In [77]:
5 * 8

40

In [79]:
"S" * 5

'SSSSS'

In [80]:
[1,2,3] * 5

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [81]:
(1,2,3) * 5

(1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3)

In [82]:
my_tuple = (1,2,3)

In [83]:
my_tuple * 3

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [84]:
my_tuple = my_tuple * 3

In [85]:
my_tuple

(1, 2, 3, 1, 2, 3, 1, 2, 3)