### Tuple

In [1]:
my_tuple = (1,2,3,4,5)

In [4]:
my_tuple[3]

4

In [6]:
my_tuple[:4]

(1, 2, 3, 4)

In [2]:
my_tuple[:-4:-1]

(5, 4, 3)

In [3]:
my_tuple[:1:-1]

(5, 4, 3)

In [11]:
my_string = "Hello World"

In [12]:
my_string[-4:-5:-1]

'o'

In [13]:
my_string[3:]

'lo World'

In [ ]:
my_tuple[1] = 5

In [20]:
my_tuple[0]

1

In [21]:
my_tuple[0:1]

(1,)

In [23]:
my_tuple = ("Python", 1, 3.14, [1,2,3])

In [30]:
a = my_tuple[0:1]

In [28]:
my_tuple[0]

'Python'

In [31]:
a

('Python',)

In [35]:
len(a)

1

In [32]:
type(a)

tuple

In [33]:
a[0]

'Python'

In [36]:
my_tuple

('Python', 1, 3.14, [1, 2, 3])

In [38]:
#my_tuple = my_tuple + some_thing 
my_tuple = my_tuple + (44,)

In [39]:
my_tuple

('Python', 1, 3.14, [1, 2, 3], 44)

In [40]:
my_tuple = my_tuple + (1,1)

In [41]:
my_tuple

('Python', 1, 3.14, [1, 2, 3], 44, 1, 1)

In [42]:
my_tuple.count(1)

3

In [43]:
my_tuple.index(3.14)

2

In [44]:
my_tuple.index(1)

1

In [45]:
sorted(my_tuple)

TypeError: '<' not supported between instances of 'int' and 'str'

In [46]:
my_tuple2 = (19,2,8,3,0)

In [47]:
sorted(my_tuple2)

[0, 2, 3, 8, 19]

In [48]:
my_tuple2

(19, 2, 8, 3, 0)

In [50]:
my_string

'Hello World'

In [54]:
tuple(my_string)

('H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd')

In [55]:
list(my_string)

['H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd']

### List

In [56]:
my_list = ["S", 1, 3.14, (1,2,3)]

In [58]:
my_list[-3]

1

In [61]:
type(my_list[1])

int

In [62]:
my_list[-1:-6:-2]

[(1, 2, 3), 1]

In [64]:
my_list[1] = "Error"

In [65]:
my_list

['S', 'Error', 3.14, (1, 2, 3)]

In [66]:
my_list.append(1)

In [67]:
my_list

['S', 'Error', 3.14, (1, 2, 3), 1]

In [68]:
my_list.index(my_list.append(6.23))

ValueError: None is not in list

In [69]:
my_list2 = [1,2,3]

In [71]:
print(my_list)
print(my_list2)

['S', 'Error', 3.14, (1, 2, 3), 1, 6.23]
[1, 2, 3]

In [72]:
my_list.append(my_list2)
my_list

['S', 'Error', 3.14, (1, 2, 3), 1, 6.23, [1, 2, 3]]

In [73]:
my_list + my_list2

['S', 'Error', 3.14, (1, 2, 3), 1, 6.23, [1, 2, 3], 1, 2, 3]

In [74]:
my_list.extend([4,5,6])

In [76]:
my_list

['S', 'Error', 3.14, (1, 2, 3), 1, 6.23, [1, 2, 3], 4, 5, 6]

In [80]:
my_list.append("Shivam")
my_list

['S',
 'Error',
 3.14,
 (1, 2, 3),
 1,
 6.23,
 [1, 2, 3],
 4,
 5,
 6,
 'S',
 'S',
 'S',
 'h',
 'i',
 'v',
 'a',
 'm',
 'Shivam']

In [79]:
my_list.extend("Shivam")
my_list

['S',
 'Error',
 3.14,
 (1, 2, 3),
 1,
 6.23,
 [1, 2, 3],
 4,
 5,
 6,
 'S',
 'S',
 'S',
 'h',
 'i',
 'v',
 'a',
 'm']

In [81]:
my_list2

[1, 2, 3]

In [82]:
my_list2.append(my_list2)

In [83]:
my_list2

[1, 2, 3, [...]]

In [85]:
my_list.index("Error")

1

In [86]:
my_list.count("S")

4

In [88]:
my_list2 = [1,2,3]

In [89]:
my_list2

[1, 2, 3]

In [92]:
my_list2[2] = 4

In [93]:
my_list2

[1, 2, 4]

In [94]:
my_list2.insert(2,3)

In [95]:
my_list2

[1, 2, 3, 4]

In [97]:
my_list.remove("S")

In [99]:
my_list.pop(0)

'Error'

In [100]:
my_list

[4,
 (1, 2, 3),
 1,
 6.23,
 [1, 2, 3, [...]],
 4,
 5,
 6,
 'S',
 'S',
 'S',
 'h',
 'i',
 'v',
 'a',
 'm',
 'Shivam']

In [101]:
my_list.sort()

TypeError: '<' not supported between instances of 'tuple' and 'int'

In [104]:
my_list2.sort(reverse=True)

In [105]:
my_list2

[4, 3, 2, 1]

In [106]:
a = 5

In [107]:
b = a

In [108]:
b

5

In [115]:
my_list2

[4, 3, 2, 1, 0]

In [116]:
my_list3 = my_list2.copy()

In [117]:
my_list3

[4, 3, 2, 1, 0]

In [118]:
my_list2.append(-1)

In [119]:
my_list2

[4, 3, 2, 1, 0, -1]

In [120]:
my_list3

[4, 3, 2, 1, 0]

In [121]:
my_list2

[4, 3, 2, 1, 0, -1]

In [122]:
my_list4 = my_list2[:]

In [123]:
my_list4

[4, 3, 2, 1, 0, -1]

### Sets

In [124]:
my_list2

[4, 3, 2, 1, 0, -1]

In [125]:
my_list

[4,
 (1, 2, 3),
 1,
 6.23,
 [1, 2, 3, [...]],
 4,
 5,
 6,
 'S',
 'S',
 'S',
 'h',
 'i',
 'v',
 'a',
 'm',
 'Shivam']

In [128]:
my_set = {"Shivam", "Python", "Linux"}

In [129]:
type(my_set)

set

In [135]:
my_set = {"Shivam", "Python", "Linux", "Python"}

In [136]:
my_set

{'Linux', 'Python', 'Shivam'}

In [132]:
my_set2 = {11,22,23,11,44}
my_set2

{11, 22, 23, 44}

In [138]:
print(my_list)
print(my_list2)

[4, (1, 2, 3), 1, 6.23, [1, 2, 3, [...]], 4, 5, 6, 'S', 'S', 'S', 'h', 'i', 'v', 'a', 'm', 'Shivam']
[4, 3, 2, 1, 0, -1]

### Dictionary

In [139]:
my_dict = {"key1":"value1", 
           "key2": "value2",
           "key3": "value3"}

In [140]:
type(my_dict)

dict

In [141]:
my_dict

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}

In [142]:
my_dict["key1"]

'value1'

In [143]:
my_dict.get("key1")

'value1'

In [144]:
my_dict["key4"]

KeyError: 'key4'

In [153]:
my_dict.get("key4")

In [155]:
my_dict2 = {"key1":"value1", 
           "key2": "value2",
           "key3": "value3",
            "key3": [1,2,3,4]}

In [156]:
my_dict2

{'key1': 'value1', 'key2': 'value2', 'key3': [1, 2, 3, 4]}

In [157]:
my_dict.keys()

dict_keys(['key1', 'key2', 'key3'])

In [158]:
my_dict.values()

dict_values(['value1', 'value2', 'value3'])

In [159]:
my_dict.items()

dict_items([('key1', 'value1'), ('key2', 'value2'), ('key3', 'value3')])

In [163]:
list(my_dict.items())[2][1]

'value3'

In [164]:
my_dict

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}

In [165]:
my_dict["key4"] = (1,2,3)

In [166]:
my_dict

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3', 'key4': (1, 2, 3)}

In [167]:
my_dict2

{'key1': 'value1', 'key2': 'value2', 'key3': [1, 2, 3, 4]}

In [168]:
my_dict["key5"] = my_dict2

In [169]:
my_dict

{'key1': 'value1',
 'key2': 'value2',
 'key3': 'value3',
 'key4': (1, 2, 3),
 'key5': {'key1': 'value1', 'key2': 'value2', 'key3': [1, 2, 3, 4]}}

In [177]:
# Cuation - we are assuming that dict is ordered !!!
list(my_dict["key5"].items())[2][1][2]

3

In [178]:
my_dict.items()

dict_items([('key1', 'value1'), ('key2', 'value2'), ('key3', 'value3'), ('key4', (1, 2, 3)), ('key5', {'key1': 'value1', 'key2': 'value2', 'key3': [1, 2, 3, 4]})])

In [179]:
my_dict

{'key1': 'value1',
 'key2': 'value2',
 'key3': 'value3',
 'key4': (1, 2, 3),
 'key5': {'key1': 'value1', 'key2': 'value2', 'key3': [1, 2, 3, 4]}}

In [180]:
my_dict["key6"] = "Some Random thing"

In [181]:
my_dict

{'key1': 'value1',
 'key2': 'value2',
 'key3': 'value3',
 'key4': (1, 2, 3),
 'key5': {'key1': 'value1', 'key2': 'value2', 'key3': [1, 2, 3, 4]},
 'key6': 'Some Random thing'}

In [182]:
my_dict.pop("key6")

'Some Random thing'

In [183]:
my_dict

{'key1': 'value1',
 'key2': 'value2',
 'key3': 'value3',
 'key4': (1, 2, 3),
 'key5': {'key1': 'value1', 'key2': 'value2', 'key3': [1, 2, 3, 4]}}

In [185]:
my_dict2["key6"] = "Error"

In [186]:
my_dict2

{'key1': 'value1', 'key2': 'value2', 'key3': [1, 2, 3, 4], 'key6': 'Error'}

In [187]:
my_dict.update(my_dict2)

In [195]:
my_dict

{'key1': 'value1',
 'key2': 'value2',
 'key3': [1, 2, 3, 4],
 'key4': (1, 2, 3),
 'key5': {'key1': 'value1',
  'key2': 'value2',
  'key3': [1, 2, 3, 4],
  'key6': 'Error'},
 'key6': 'Error'}

In [207]:
my_dict3 = dict.fromkeys("key3", "key5")
my_dict3

{'k': 'key5', 'e': 'key5', 'y': 'key5', '3': 'key5'}

In [210]:
keys = {"a", "e", "i", "o", "u"}
value = ["vowels", "alpha"]
my_dict4 = dict.fromkeys(keys, value)

In [211]:
my_dict4

{'u': ['vowels', 'alpha'],
 'i': ['vowels', 'alpha'],
 'o': ['vowels', 'alpha'],
 'e': ['vowels', 'alpha'],
 'a': ['vowels', 'alpha']}