In [1]:
my_list = [1,2,3,4,5,6,7,8,9,10]

In [25]:
for item in my_list[:5]:
    print(item*10)

10
20
30
40
50

In [11]:
my_list[:5]

[1, 2, 3, 4, 5]

In [12]:
my_string = "Hello Class"
for i in my_string:
    print(i.upper(), end='')

HELLO CLASS

In [14]:
my_tuple = ("P", "y", "t", "h", "o", "n")
for item in my_tuple:
    print(item)

P
y
t
h
o
n

In [15]:
my_set = {"0", "P", "G", "1", "5"}
for a in my_set:
    print(a)

G
0
1
5
P

In [16]:
my_dict = {"k1": 'v1', "k2": 'v2',  "k3": 'v3'}
for i in my_dict:
    print(i)

k1
k2
k3

In [17]:
for i in my_dict:
    print(my_dict[i])

v1
v2
v3

In [18]:
for i in my_dict.items():
    print(i)

('k1', 'v1')
('k2', 'v2')
('k3', 'v3')

In [19]:
my_dict.items()

dict_items([('k1', 'v1'), ('k2', 'v2'), ('k3', 'v3')])

In [24]:
for i in my_dict.items():
    print(i[0])

k1
k2
k3

### List Comprehenstion

In [26]:
my_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [35]:
my_list2 = []
for i in my_list[:5]:
    my_list2.append(i*2)
    print("abc")
print("DONE!!")

abc
abc
abc
abc
abc
DONE!!

In [32]:
my_list2

[2, 4, 6, 8, 10]

In [33]:
my_list3 = [i*3 for i in my_list]

In [34]:
my_list3

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

In [36]:
my_list3 = (i*3 for i in my_list)

In [38]:
tuple(my_list3)

(3, 6, 9, 12, 15, 18, 21, 24, 27, 30)


### While loop

In [40]:
a = 10
while a<= 20:
    print(a)
    a+=1

10
11
12
13
14
15
16
17
18
19
20

In [41]:
# while True:
#     print("DONT PRINT THIS")

### Control Statement

In [46]:
total_marks = 100
marks = 290
if marks >=95 and marks <= total_marks:
    print(" Very Good")
elif marks >= 85 and marks <95:
    print("GOOD!")
else:
    print("BAD")

BAD

In [47]:
my_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [50]:
for i in my_list:
    if i % 2==0:
        print(i*i)

4
16
36
64
100

In [54]:
[i*i for i in my_list if i%2==0 and i%3==0]

[36]

In [55]:
[i*i for i in my_list if i%2==0]

[4, 16, 36, 64, 100]

In [57]:
even =[]
odd = []
for i in my_list:
    if i % 2==0:
        even.append(i)
        if i %3==0:
            even3 = i
    else:
        odd.append(i)

In [59]:
print(even, odd, even3)

[2, 4, 6, 8, 10] [1, 3, 5, 7, 9] 6

In [69]:
even1= []
odd1=[]
[even1.append(i) if i % 2==0 else odd1.append(i) for i in my_list ]

[None, None, None, None, None, None, None, None, None, None]

In [70]:
even1, odd1

([2, 4, 6, 8, 10], [1, 3, 5, 7, 9])

In [72]:
l = [['40', '20', '10', '30'], 
     ['20', '20', '20', '20', '20', '30', '20'], 
     ['30', '20', '30', '50', '10', '30', '20', '20', '20'], 
     ['100', '100'], 
     ['100', '100', '100', '100', '100'], 
     ['100', '100', '100', '100']]

In [80]:
l_new=[]
temp=[]
for i in l:
    for j in i:
        temp.append(int(j))
    l_new.append(temp)
    temp=[]

In [81]:
print(l_new)

[[40, 20, 10, 30], [20, 20, 20, 20, 20, 30, 20], [30, 20, 30, 50, 10, 30, 20, 20, 20], [100, 100], [100, 100, 100, 100, 100], [100, 100, 100, 100]]

In [84]:
[int(j) for i in l for j in i]    # nested for in list comprehension

[40,
 20,
 10,
 30,
 20,
 20,
 20,
 20,
 20,
 30,
 20,
 30,
 20,
 30,
 50,
 10,
 30,
 20,
 20,
 20,
 100,
 100,
 100,
 100,
 100,
 100,
 100,
 100,
 100,
 100,
 100]

In [85]:
[[int(j) for j in i]for i in l ] #Nested List Comprehension

[[40, 20, 10, 30],
 [20, 20, 20, 20, 20, 30, 20],
 [30, 20, 30, 50, 10, 30, 20, 20, 20],
 [100, 100],
 [100, 100, 100, 100, 100],
 [100, 100, 100, 100]]

In [87]:
l_1 = [[[1,2,3], [0,1,4]]]

In [89]:
[k for i in l_1 for j in i for k in j]

[1, 2, 3, 0, 1, 4]

In [90]:
[[[k for k in j ]for j in i]for i in l_1]

[[[1, 2, 3], [0, 1, 4]]]

In [91]:
my_dict

{'k1': 'v1', 'k2': 'v2', 'k3': 'v3'}

In [95]:
[[l for l in i ]for i in my_dict.items()]

[['k1', 'v1'], ['k2', 'v2'], ['k3', 'v3']]

In [99]:
[i for i in my_dict.items()]

[('k1', 'v1'), ('k2', 'v2'), ('k3', 'v3')]

In [100]:
l

[['40', '20', '10', '30'],
 ['20', '20', '20', '20', '20', '30', '20'],
 ['30', '20', '30', '50', '10', '30', '20', '20', '20'],
 ['100', '100'],
 ['100', '100', '100', '100', '100'],
 ['100', '100', '100', '100']]

In [109]:
print([int(j) for i in l for j in i ])

[40, 20, 10, 30, 20, 20, 20, 20, 20, 30, 20, 30, 20, 30, 50, 10, 30, 20, 20, 20, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100]

In [110]:
my_prob = [["Apple", "Zip"], ["Banana", "Log"], ["abc", "Africa"]]

In [111]:
# ["banana", "Africa", "apple"]

In [112]:
my_string

'Hello Class'

In [113]:
len(my_string)

11

In [117]:
[item for small_list in my_prob for item in small_list 
 if len(item)> 3]

['Apple', 'Banana', 'Africa']

In [118]:
[(item, len(item)) for small_list in my_prob for item in small_list 
 if len(item)> 3]

[('Apple', 5), ('Banana', 6), ('Africa', 6)]

In [119]:
my_prob

[['Apple', 'Zip'], ['Banana', 'Log'], ['abc', 'Africa']]

In [123]:
my_prob_sol = []
for smal_list in my_prob:
    for item in smal_list:
        if len(item) > 3:
            temp_dict = {}
            temp_dict[item] = len(item)
            my_prob_sol.append(temp_dict)
my_prob_sol

[{'Apple': 5}, {'Banana': 6}, {'Africa': 6}]

In [124]:
my_prob_sol = {}
for smal_list in my_prob:
    for item in smal_list:
        if len(item) > 3:
            my_prob_sol[item] = len(item)
my_prob_sol

{'Apple': 5, 'Banana': 6, 'Africa': 6}

In [131]:
my_sales = [[{"javed":[123,567,345],
              "shivam": [23,567,12,45,345,678],
              "ankit": [567],
              "gaurav": [23,145,567,676, 8],
              "kislay": [34,56,78,567],
              "vivek": [34,45,123],
              "tanvi": [987,12],
              "shahi": [12,56,592,999,12]
             }]]

In [129]:
my_sales

[[{'javed': [123, 567, 345],
   'shivam': [23, 567, 12, 45, 345, 678],
   'ankit': [567],
   'gaurav': [23, 145, 567, 6768],
   'kislay': [34, 56, 78, 567],
   'vivek': [34, 45, 123],
   'tanvi': [987, 12]}]]

In [133]:
[{k[0]: s*3/100} 
 for i in my_sales 
 for j in i 
 for k in j.items() 
 if len(k[1])>=3 
 for s in k[1] 
 if s> 500]

[{'javed': 17.01},
 {'shivam': 17.01},
 {'shivam': 20.34},
 {'gaurav': 17.01},
 {'gaurav': 20.28},
 {'kislay': 17.01},
 {'shahi': 17.76},
 {'shahi': 29.97}]

In [149]:
for i in my_sales:
    for j in i:
        for k in j.items():
            #print(k)
            if len(k[1])>=3:
                for sales_price in k[1]:
                    if sales_price > 500:
                        print({k[0]: sales_price*3/100})

In [151]:
new_year_sales = []
for i in my_sales:
    for j in i:
         for k in j.items():
                if len(k[1])>=3:
                    for sp in k[1]:
                        if sp>500:
                            new_year_sales.append({k[0]: sp*3/100})

In [152]:
new_year_sales

[{'javed': 17.01},
 {'shivam': 17.01},
 {'shivam': 20.34},
 {'gaurav': 17.01},
 {'gaurav': 20.28},
 {'kislay': 17.01},
 {'shahi': 17.76},
 {'shahi': 29.97}]

In [157]:
new_year_sales_new = {}
for i in new_year_sales:
    for k in i.items():
        #print(k)
        if new_year_sales_new.get(k[0]) is None:
            new_year_sales_new[k[0]] = []
            new_year_sales_new[k[0]].append(k[1])
        else:
            new_year_sales_new[k[0]].append(k[1])
print(new_year_sales_new)

{'javed': [17.01], 'shivam': [17.01, 20.34], 'gaurav': [17.01, 20.28], 'kislay': [17.01], 'shahi': [17.76, 29.97]}

### Functions

In [158]:
def func_name():
    print("Hello World!")

In [159]:
func_name()

Hello World!

In [169]:
def my_print(statement):
    print(statement + 1)

In [170]:
my_print(12)

13

In [171]:
def my_add(x,y):
    print(x+y)

In [173]:
z = my_add(10,14)

24

In [175]:
def my_multiply(x, y):
    z = x*y
    return z

In [177]:
z = my_multiply(3, 4)

In [178]:
z

12

In [184]:
def my_calculator(x,y, operation=""):
    if operation == "add":
        return x + y
    elif operation == "sub":
        return x - y
    elif operation == "div":
        return x / y
    elif operation == "mul":
        return x *y
    else:
        return x + y

In [185]:
z = my_calculator(3,4,"sfsf")

In [186]:
z

7

In [197]:
def my_add(x, y=0):
    '''
    x - First argument of function 
    y - Second argument of fucntion, default value is 0 
    return - returns the addition of x and y
    '''
    return x + y

In [196]:
my_add(4, 5)

9

In [198]:
?my_add

In [199]:
help(my_add)

Help on function my_add in module __main__:

my_add(x, y=0)
    x - First argument of function
    y - Second argument of fucntion, default value is 0
    return - returns the addition of x and y

In [200]:
my_add.__doc__

'\n    x - First argument of function \n    y - Second argument of fucntion, default value is 0 \n    return - returns the addition of x and y\n    '

In [205]:
def my_func(x,y,z):
    return "value of x - {0} y - {1} and z is {2}".format(x,y,z)

In [211]:
my_func("y",z="z",y="x")

'value of x - y y - x and z is z'

In [213]:
my_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [216]:
my_plus_one = lambda x : x+ 1

In [217]:
my_plus_one(5)

6