In [30]:
def my_add(a=0,b=0):
    return a +b

In [2]:
my_add2 = lambda a, b: a+b

In [3]:
type(my_add2)

function

In [4]:
type(my_add)

function

In [5]:
my_add(3,4)

7

In [6]:
my_add2(3,4)

7

## Map

Syntax map(function, iterable1, iterable2, ....)



map functions expects a function object and any number of iterables like list, dictionary, etc. It executes the function_object for each element in the sequence and returns a list of the elements modified by the function object.

In [8]:
# def my_list_mul(my_list):
#     temp = []
#     for i in my_list:
#         temp.append(i*2)
#     return temp
def my_list_mul(my_list):
    return [i*2 for i in my_list]

In [9]:
def my_mul(x):
    return x * 2

In [10]:
my_list_mul([1,2,3])

[2, 4, 6]

In [11]:
my_mul([1,2,3])

[1, 2, 3, 1, 2, 3]

In [21]:
list(map(my_mul, [1,2,3]))

[2, 4, 6]

In [19]:
"".join(list(map(my_mul, "Python")))

'PPyytthhoonn'

In [33]:
list(map(my_add, [1,2,3,4], [4,5,6,7]))

[5, 7, 9, 11]

In [34]:
list(map(lambda x,y: x*y, [1,2,3], [4,5,6]))

[4, 10, 18]

In [74]:
my_score = [{"name": "rashi", "score": 98},
            {"name": "Vishal", "score":78},
            {"name": "SAM", "score":85},
            {"name": "Java", "score":32},
            {"name": "Python", "score": 97}]

In [39]:
list(map(lambda x:x.get("score"), my_score))

[98, 78, 85, 32, 97]

In [44]:
list(map(lambda x: x["name"] if x['score']==98 else None, my_score))

['rashi', None, None, None, None]

In [75]:
[i.get('name') for i in list(filter(lambda x: x['score']>90, my_score))]

['rashi', 'Python']

In [80]:
[i.get("name") for i in list(filter(lambda x: x['score']==98, my_score))]

['rashi']

In [43]:
my_score[0]['score'] == 98

True

[output for i  in iterable ]
[output for i in iterable if some_condition]
[output if some_condition else output2 for i in iterable]
[output for i in iterable for j in i for k in j]

## Filter

Syntax filter(function_obj, iterable)

filter function expects two arguments, function_object and an iterable. function_object returns a boolean value. function_object is called for each element of the iterable and filter returns only those element for which the function_object returns true.

In [45]:
def check_even(x):
    if x%2==0:
        return True
    else:
        return False

In [47]:
list(filter(check_even, range(11)))

[0, 2, 4, 6, 8, 10]

In [49]:
list(filter(lambda x:x%2==0, range(11)))

[0, 2, 4, 6, 8, 10]

In [67]:
list(filter( lambda x:x  ,map(lambda x,y: (x,y) if x-y>3 else None, 
                       list(range(10)), 
                        list(reversed(range(10)))
           )))

[(7, 2), (8, 1), (9, 0)]

In [ ]:
(list(range(10)), 
 list(reversed(range(10))))

## ZiP

In [83]:
list1= list(range(11))
list2 = list(reversed(list1))

In [84]:
list1, list2

([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10], [10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0])

In [87]:
list3 = list(zip(list1, list2))

In [88]:
list3

[(0, 10),
 (1, 9),
 (2, 8),
 (3, 7),
 (4, 6),
 (5, 5),
 (6, 4),
 (7, 3),
 (8, 2),
 (9, 1),
 (10, 0)]

In [111]:
for i, j  in list3:
    print(i, j)

0 10
1 9
2 8
3 7
4 6
5 5
6 4
7 3
8 2
9 1
10 0

In [93]:
my_score

[{'name': 'rashi', 'score': 98},
 {'name': 'Vishal', 'score': 78},
 {'name': 'SAM', 'score': 85},
 {'name': 'Java', 'score': 32},
 {'name': 'Python', 'score': 97}]

In [10]:
my_dict = {"key1": [1,2,3],
          'key2': [1,2,3],
          'key3': [4,5,6]}

In [109]:
for v1,v2,v3 in my_dict.values():
    print(v1,v2,v3)

1 2 3
1 2 3
4 5 6

In [110]:
my_dict.values()

dict_values([[1, 2, 3], [1, 2, 3], [4, 5, 6]])

In [112]:
list(zip([1,2,3], [4,5,6,7,8,9,0]))

[(1, 4), (2, 5), (3, 6)]

In [113]:
list3

[(0, 10),
 (1, 9),
 (2, 8),
 (3, 7),
 (4, 6),
 (5, 5),
 (6, 4),
 (7, 3),
 (8, 2),
 (9, 1),
 (10, 0)]

In [115]:
list(zip(*list3))

[(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10), (10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0)]

In [2]:
my_list = [45,87,23,687,213,56,575,75,86,5,4,75,746,47,57,424]

### Enumerate

In [9]:
for index, i in enumerate(my_list):
    print( index, i)

0 45
1 87
2 23
3 687
4 213
5 56
6 575
7 75
8 86
9 5
10 4
11 75
12 746
13 47
14 57
15 424

In [6]:
list(enumerate(my_list))

[(0, 45),
 (1, 87),
 (2, 23),
 (3, 687),
 (4, 213),
 (5, 56),
 (6, 575),
 (7, 75),
 (8, 86),
 (9, 5),
 (10, 4),
 (11, 75),
 (12, 746),
 (13, 47),
 (14, 57),
 (15, 424)]

In [11]:
for i in enumerate(my_dict):
    print(i)

(0, 'key1')
(1, 'key2')
(2, 'key3')