In [13]:
import pandas as pd

In [14]:
df = pd.read_csv("../../R/data/car.data.csv", header=None)

In [15]:
df.head()

       0      1  2  3      4     5      6
0  vhigh  vhigh  2  2  small   low  unacc
1  vhigh  vhigh  2  2  small   med  unacc
2  vhigh  vhigh  2  2  small  high  unacc
3  vhigh  vhigh  2  2    med   low  unacc
4  vhigh  vhigh  2  2    med   med  unacc

In [16]:
df.columns

Int64Index([0, 1, 2, 3, 4, 5, 6], dtype='int64')

In [17]:
df.columns = ["One", 'Two', 'Three', 'Four', 'Five', 'Six', 'Seven']

In [18]:
df.head()

     One    Two Three Four   Five   Six  Seven
0  vhigh  vhigh     2    2  small   low  unacc
1  vhigh  vhigh     2    2  small   med  unacc
2  vhigh  vhigh     2    2  small  high  unacc
3  vhigh  vhigh     2    2    med   low  unacc
4  vhigh  vhigh     2    2    med   med  unacc

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1728 entries, 0 to 1727
Data columns (total 7 columns):
One      1728 non-null object
Two      1728 non-null object
Three    1728 non-null object
Four     1728 non-null object
Five     1728 non-null object
Six      1728 non-null object
Seven    1728 non-null object
dtypes: object(7)
memory usage: 94.6+ KB

In [20]:
df.describe()

         One   Two  Three  Four  Five   Six  Seven
count   1728  1728   1728  1728  1728  1728   1728
unique     4     4      4     3     3     3      4
top     high  high  5more     4   big  high  unacc
freq     432   432    432   576   576   576   1210

In [21]:
df.One.value_counts()

high     432
low      432
med      432
vhigh    432
Name: One, dtype: int64

In [16]:
df.to_csv("new_car_data.csv")

In [17]:
df.to_csv("new_car_data1.csv", index=None)

In [20]:
df.shape

(1728, 7)

In [21]:
df.dtypes

One      object
Two      object
Three    object
Four     object
Five     object
Six      object
Seven    object
dtype: object